* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --pink: #bb8a89;
    /* or ac7b7d */
    --black: #0d0221;
    --white: #f0f2ef;
    --green: #4f6367;
    --yellow: #e99f4c;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: var(--black);
}

#navigation {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.5s;
  z-index: 1000;
}

@media all and (max-width: 860px) {
  #navigation {
      display: none;
  }
}

.navigation ul {
  list-style-type: none;
  display: flex;
  padding: 18px 0;
  background-color: var(--white);
  box-shadow: -1px -12px 35px var(--green);
  text-align: center;
  z-index: 100;
}

li a {
  color: var(--black);
  text-align: center;
  text-decoration: none;
  padding: 15px 8px;
  font-family: verdana;
  font-weight: lighter;
  font-size: 16px;
  letter-spacing: 1px;
  opacity: 0.9;
}

.active3:hover, 
.active2:hover,
.active1:hover,
.active:hover {
  color: var(--pink);
  /* animation: 1.5s myFlash linear infinite; */
  /* text-shadow: 2px 2px 30px var(--yellow); */
  transition: 500ms;
  text-decoration: underline;
}

nav {
  transition: 3s;
  /* animation: 3s myAnimation ease linear; */
}

/* @keyframes myAnimation {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
} */

/* .nav-type {
  animation: 3s myWorld ease linear;
} */

/* @keyframes myWorld {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
} */

@media(max-width: 767px) {
  /* .flash-GIF {
    display: none;
  }
  
  .line-w5 {
    display: none;
  } */
  
  .text-content-fluid {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
  }
  
  .navigation ul {
    padding: 15px 0;
  }
  
  
  .navigation li a {
    padding: 34px 34px;
    font-size: 23px;
    font-weight: lighter;
  }
}

.text-content-fluid {
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 53%;
  left: 50%;
  letter-spacing: 25px;
  font-size: 50px;
  font-family: verdana;
}

@media(max-width: 767px) {
  .text-content-fluid {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60%;
  }
}

.line {
  height: 40px;
  width: 2px;
  background: #fff;
  margin: 0;
  position: absolute;
  left: 88%;
  top: 25%;
}

.Active {
  transition: 2s;
  margin-top: 1px;
}


.container {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
	text-align: center;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;
}

#menu {
	background-color: var(--white);
	color: black;
	width: 50%;
	height: 100vh;
	top: 0;
	position: fixed;
	right: -100vw;
	z-index: 900;
	box-shadow: 0px 0px 100px 115px var(--pink);
	transition-duration: 0.5s;
	transition: all 0.3s ease-in-out;
}
@media all and (max-width: 500px) {
	#menu {
		width: 100%;
		box-shadow: none;
	}
}

#menu.move {
	right: 0;
}

#menu ul {
	list-style: none;
	margin-top: 77px;
}

#menu a {
    text-decoration: none;
    color: var(--pink)
}

#menu li {
	font-size: 22px;
	padding: 20px 0;
	text-align: center;
	transition: 400ms;
}

#menu li:hover,
#menu li:focus {
	color: var(--green);
	display: block;
	transform: scale(1.3);
}

.page-header__item ul {
	transform: translate3d(450px, 0, 0);
	transition: transform 0.45s ease-in;
}

.page-header__item.move ul {
	transform: translate3d(0, 0, 0);
	transition: transform 600ms ease-out;
}
.page-header__item.move ul li a:last-child {
	transition-delay: 0.8s;
}

.sm-navigation {
	margin-right: 5.5rem;
	margin-top: 0.6rem;
	font-size: 1.25rem;
}

.page-header {
	display: flex;
	padding: 1.25rem;
	height: 6.25rem;
	clear: both;
	width: 100%;
	max-width: 1120px;
	text-align: center;
	margin: 0 auto;
}

.page-header__item {
	flex: 0 1 12.5rem;
}

/* choose the last child of the parent to be right aligned. */
.page-header__item:last-child {
	flex-grow: 1;
	text-align: right;
}

.page-header {
	display: flex;
	padding: 1.25rem;
	height: 6.25rem;
	clear: both;
	width: 100%;
	max-width: 1120px;
	text-align: center;
	margin: 0 auto;
}

.page-header__item {
	flex: 0 1 12.5rem;
}

/* choose the last child of the parent to be right aligned. */
.page-header__item:last-child {
	flex-grow: 1;
	text-align: right;
}

#hamburger {
	height: 40px;
	width: 40px;
	margin: 50px;
	float: right;
	cursor: pointer;
	display: none;
	grid-template-rows: 1fr 1fr 1fr;
}

@media all and (max-width: 860px) {
	#hamburger {
		display: grid;
	}
}
#hamburger:hover .row1,
#hamburger:hover .row2,
#hamburger:hover .row3,
#hamburger:focus .row1,
#hamburger:focus .row2,
#hamburger:focus .row3 {
	background-color: var(--pink);
}

#hamburger:hover .row2.transparent,
#hamburger:focus .row2.transparent {
	background-color: transparent;
}
#hamburger:hover .row1.rotateRight,
#hamburger:hover .row3.rotateLeft,
#hamburger:focus .row1.rotateRight,
#hamburger:focus .row3.rotateLeft {
	background-color: var(--green);
}

.row1,
.row2,
.row3 {
	background-color: var(--white);
	z-index: 1000;
  border: 0.5px solid var(--black);
	margin-bottom: 10px;
	border-radius: 3px;
	transition-duration: 0.5s;
}

.row1.rotateRight {
	background-color: var(--pink);
	transform: rotate(45deg);
	transform-origin: 0px;
	left: 15px;
	position: relative;
}

.row3.rotateLeft {
	background-color: var(--black);
	transform: rotate(-45deg);
	transform-origin: 0px;
	left: 15px;
	bottom: -3px;
	position: relative;
}

.row2.transparent {
	background-color: transparent;
  border: none;
}

/* all pages */

.lg-logo {
    width: 40px;
    border-radius: 50%;
}

.logo {
    width: 70px;
    border-radius: 50%;
    position: fixed;
    top: 23px;
    left: 23px;
    display: none;
}

@media all and (max-width: 860px) {
    .logo {
        display: block;
    }
}

.show {
	display: block !important;
	opacity: 1;
	pointer-events: auto;
}

.center {
    text-align: center;
    margin: auto;
}

.banner {
  height: 200px;
  overflow: hidden;
  margin-top: -10px;
  top: 0
}

@media all and (max-width: 860px) {
  .banner {
    height: 100px;
  }
}

.about-page,
.dough-page,
.jam-page,
.coaching-page,
.donuts-page,
.home-page {
    /* margin: 110px 40px; */
    /* width: 90vw; */
}

.title {
    text-align: center;
    margin: 12px auto;
    font-size: 52px;
    padding: 20px;
    font-weight: bold;
}

.subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  padding: 10px;
}

.button {
  width: auto;
  text-decoration: none;
  background-color: var(--green);
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  margin: 10px auto;
  color: var(--white);
  transition: 500ms ease-in-out
}

.button:hover {
  opacity: 0.8;
  background-color: var(--pink);
}

/* home page */

.background {
    background-image: url("../img/bakery.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    margin-top: 0;
    padding-top: 30px;
}

.title-container {
  padding: 30px;
  border-radius: 10px;
  background-color: var(--white);
  width: 50%;
  min-width: 320px;
  height: auto;
  min-height: 350px;
  margin: 100px 30px;
}

.title-container h1 {
  font-size: 38px;
}

.title-container p {
  margin: 10px auto;
  font-size: 18px;
}

.title-container a {
  float: right;
}

.triangle-down {
  box-sizing: content-box;
  width: 50%;
  height: 100px;
  padding-left: 50%;
  padding-top: 5%;
  overflow: hidden;
}

.triangle-down div {
  width: 0;
  height: 0;
  margin-left: -1000px;
  margin-top: -50px;
  border-left: 1000px solid transparent;
  border-right: 1000px solid transparent;
  border-top: 150px solid var(--white);
}

.service-container {
  display: flex;
  justify-content: center;
  margin: 50px auto 250px;
}

.service {
  background: var(--white);
  margin: 20px;
  padding: 32px;
  width: 250px;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 10px 23px -10px;
  transition: 400ms ease-in-out;
}

.service:hover {
  transform: scale(1.2);
}

.service h3 {
  text-align: center;
  margin-bottom: 19px;
}

.service ul {
  list-style-type: disc;
}

.service li {
  margin: 10px auto;
}

@media all and (max-width: 750px) {
  .service-container {
    flex-direction: column;
    justify-content: center;
  }

  .service {
    width: 60%;
    margin: 30px auto;
    min-height: 300px;
  }

  .service li {
    margin: 15px auto;
  }
}

@media all and (max-width: 600px) {
  .service {
    width: 80%;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }
}

/* Know your dough page */
.myGallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, minmax(100px, 400px));
    text-align: center;
    background-color: var(--white);
    margin: 70px auto 250px;
    width: 80%;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 17px 20px 50px 9px #C6C0B6;
}

@media all and (max-width: 800px) {
  .myGallery {
    grid-template-columns: repeat(2, minmax(100px, 400px));
    grid-gap: 20px;
    width: 90%;
  }
}

@media all and (max-width: 600px) {
  .myGallery {
    width: 100%
  }
}

@media all and (max-width: 400px) {
  .myGallery {
    grid-template-columns: 1fr;
  }
}

.myGallery img {
    width: 100%;
}

.myGallery .item {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.myGallery .item img {
    vertical-align: middle;
}
  
.myGallery .caption {
    margin: 0;
    padding: 1em;
    position: absolute;
    z-index: 1;
    bottom: 0;
    top: 30%;
    left: 0;
    text-align: center;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    box-sizing: border-box;
    transition: transform .5s;
    transform: translateY(100%);
    background: rgba(0, 0, 0, .7);
    color: rgb(255, 255, 255);
}

@media all and (min-width: 900px) {
    .caption {
        font-size: 18px;
    }
}

@media all and (min-width: 1400px) {
    .caption {
        font-size: 22px;
    }
}
  
.myGallery .item:hover .caption {
    transform: translateY(0%);
    cursor: pointer;
}

.w3-modal {
  padding-top: 80px;
}

.w3-modal-content {
    padding: 20px;
    border-radius: 3px;
    min-height: 300px;
}

.modal-body {
    display: flex;
    flex-direction: row;
}

.modal-body p {
    margin: 10px;
}

.w3-button {
    width: 5%;
    font-size: 30px;
    margin: 4px;
    border-radius: 50px;
}

.divider {
    width: 90%;
    border: 0.8px solid lightgrey;
    border-radius: 50%;
    margin: 30px auto;
}

.related-topic-button {
  border: none;
  display: inline;
  width: 51px;
  margin: 10px;
  cursor: pointer;
}

.related-topic {
    width: 50px;
}

/* About Page */

.about-body {
    /* display: flex;
    flex-direction: row; */
    
}
/* @media all and (max-width: 850px) {
    .about-body {
        flex-direction: column;
        margin-top: 90px;
    }
    .about-img {
        text-align: center;
    }
} */


.child {
  position: absolute;
  top: 0;
}

.child1 {
  right: -46px;
  top: -200px;
  border: 1px solid #ddd;
  padding: 5px;
  height: 280px;
  width: 280px;
  z-index: 2;
}

.child2 {
  right: 52px;
  top: -100px;
  width: 320px;
  height: 100px;
  background-color: var(--green);
  opacity: 0.5;
  z-index: 0;
}

@media all and (max-width: 800px) {
  .child1 {
    right: 36px;
  }
  .child2 {
    right: 114px;
  }
}

@media all and (max-width: 640px) {
  .child1 {
    right: 110px;
  }
  .child2 {
    right: 180px;
  }
}

@media all and (max-width: 600px) {
  .child1 {
    position: relative;
    right: 0;
    top: 0;
  }

  .child2 {
    right: 158px;
    top: 41px;
    width: 304px;
    height: 268px;
    margin-top: 0;
  }
}

.parent {
  position: relative;
  width: 630px;
  text-align: center;
  margin: 0 auto;
}

@media all and (max-width: 630px) {
  .parent {
    width: 100%;
  }
}

.about-para {
  max-width: 624px; 
  width: 100%;
  margin: 263px auto 50px;
  padding: 112px;
  position: relative;
  box-shadow: rgba(0,0,0,0.16) 0px 8px 16px;
  border-radius: 10px;
  font-size: 21px;
}

@media all and (max-width: 600px) {
  .about-para {
    padding: 80px;
    margin: -43px auto 50px;
  }
}

/* .about-img {
  border-radius: 10px;
  box-shadow: 17px 20px 42px 1px #c6c0b6;
  height: 250px;
  width: 200px;
  margin: auto;
} */

.contact-me {
  text-align: center;
  padding-top: 30px;
  background-color: var(--white);
  background-image: linear-gradient(white, #f0f2ef);
}

.contact-me {
  font-weight: bold;
  font-size: 18px;
}


/* img {
  
  border-radius: 4px;
 
  width: 150px;
} */

/* .about-para {
    width: 70%;
    background-color: var(--rose);
    border-radius: 10px;
    box-shadow: 17px 20px 42px 1px #c6c0b6;
    padding: 50px 80px;
    margin: 50px auto
} */

.send {
    color: var(--white);
    border: 1px solid var(--green);
    background-color: var(--green);
    width: 300px;
    margin: 50px auto 100px;
    font-weight: bold;
    height: 60px;
    border-radius: 31px;
    cursor: pointer;
    transition: 300ms;
}

.send:hover {
    background-color: var(--pink);
}

.input {
    margin: 10px;
    border-radius: 30px;
    padding: 10px 12px;
    border: 1px solid var(--green);
    box-shadow: 9px 8px 9px -4px var(--green);
}

/* That's my jam */

/* .grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--white);
    margin: 70px auto;
    width: 80%;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 17px 20px 50px 9px #C6C0B6;
} */

.service img {
    width: 100%;
    border-radius: 5%;
}
@media all and (max-width: 750px) {
  .service img {
    width: 50%;
    margin-right: 35px;
    position: relative;
  }

  .service {
    display: flex;
  }
  .service-content {
    flex-direction: column;
  }
}

@media all and (max-width: 600px) {
  .service {
    width: 80%;
    margin-top: 10px;
  }
  .service img {
    width: 50%;
    margin-right: 0;
    position: relative;
  }
}

/* .grid .item {
    position: relative;
}

.grid .item img {
    vertical-align: middle;
} */

/* money coaching */

.philosophy {
    width: 70%;
    padding: 50px 30px;
    margin: 30px auto 70px auto;
    text-align: center;
    opacity: 0.8;
    color: var(--green);
    border-radius: 3%;
    /* box-shadow: 17px 20px 42px 1px #c6c0b6; */
}

.philosophy p {
    margin: 5px;
    font-size: 22px;
    line-height: 1.2;
}

@media all and (max-width: 420px) {
  .philosophy {
    width: 100%;
  }
}

.topics {
    background-color: var(--white);
    width: 80%;
    height: auto;
    padding: 50px;
    margin: 135px auto;
    border-radius: 3%;
    box-shadow: 17px 20px 42px 1px #c6c0b6;
}

@media all and (max-width: 600px) {
  .topics {
    width: 100%;
  }
}

.topics ul li img {
  border-radius: 10px;
  width: 90px;
}

.topics h2 {
    text-align: center;
    margin-bottom: 20px;
}

.coaching-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  width: 100%;
  list-style-type: none;
  justify-content: center;
  margin: 10% 0;
  width: 100%;
  text-align: center;
}

.coaching-grid .item {
    position: relative;
    border-radius: 10px;
    line-height: 1.5;
}

@media all and (max-width: 500px) {
  .coaching-grid {
    grid-template-columns: 1fr 1fr;
  }

  .coaching-grid .item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.coaching-img {
    max-width: 80%;
    margin: 90px auto;
    padding: 40px;
    text-align: center;
    display: block;
    border-radius: 3%;
    box-shadow: 17px 20px 42px 1px #c6c0b6;
}

@media all and (max-width: 450px) {
  .coaching-img {
    width: 100%;
    padding: 0;
    box-shadow: none;
  }
}

.section-header{
    text-align: center;
    margin: 142px auto 0px auto;
    font-size: 40px;
    width: 100%;
}

/* .coaching-grid ul li {
    padding-top: 7px;
    list-style-type: none;
} */

/* .coaching-grid ul li:before {
    content: '';
    display: inline-block;
    height: 10px;
    width: 10px;
    background-image: url('../img/donut.png');
    background-size: contain;
    margin-left: -17px;
    margin-right: 5px;
    margin-top: 2px;
  } */

/* .coaching-grid h3 {
    margin: auto;
    margin-top: 13px;
    text-align: center;
}

@media all and (max-width: 700px) {
    .coaching-grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
} */

/* donuts + pie */
.chart-grid {
    display: grid;
    position: relative;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--pink);
    margin: 70px auto 250px;
    width: 73%;
    padding: 56px;
    border-radius: 10px;
    box-shadow: 17px 20px 50px 9px #C6C0B6;
}

@media all and (max-width: 850px) {
  .chart-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    width: 100%
  }
}

@media all and (max-width: 650px) {
  .chart-grid {
     grid-template-columns: 1fr;
  }
}

.chart-grid .item {
    width: 100%;
    position: relative;
}
@media all and (max-width: 700px) {
  .chart-grid.item {
    width: 50%;
  }
}

/* chart text overlay */
.overlay-text {
  line-height: 30px;
  position: absolute;
  z-index: 5;
  font-family: 'Arial Black';
  font-size: 25px;
  font-weight: bold;
  top: 60px;
  left: 10px;
  pointer-events: none;
  text-align: center;
}

/* change color of annotation text */
/* g .google-visualization-tooltip text  {
  fill: red;
} */

/* change background color of annotation */
/* g .google-visualization-tooltip path  {
  fill: red;
} */