/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  /* or ac7b7d */
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #0d0221
}

#navigation {
position: fixed;
top: 0;
width: 100%;
-webkit-transition: top 0.5s;
-o-transition: top 0.5s;
transition: top 0.5s;
z-index: 1000;
}

@media all and (max-width: 860px) {
.navigation {
    display: none;
}

}

.navigation ul {
list-style-type: none;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
padding: 18px 0;
background-color: #f0f2ef;
-webkit-box-shadow: -1px -12px 35px #4f6367;
        box-shadow: -1px -12px 35px #4f6367;
text-align: center;
z-index: 100;
}

li a {
color: #0d0221;
text-align: center;
text-decoration: none;
padding: 15px 8px;
font-family: verdana;
font-weight: lighter;
font-size: 16px;
letter-spacing: 1px;
opacity: 0.9;
}

.active3:hover {
color: #bb8a89;
/* animation: 1.5s myFlash linear infinite; */
/* text-shadow: 2px 2px 30px var(--yellow); */
-webkit-transition: 500ms;
-o-transition: 500ms;
transition: 500ms;
text-decoration: underline;
}

.active2:hover {
color: #bb8a89;
/* animation: 1.5s myFlash linear infinite; */
/* text-shadow: 2px 2px 30px var(--yellow); */
-webkit-transition: 500ms;
-o-transition: 500ms;
transition: 500ms;
text-decoration: underline;
}

.active1:hover {
color: #bb8a89;
/* animation: 1.5s myFlash linear infinite; */
/* text-shadow: 2px 2px 30px var(--yellow); */
-webkit-transition: 500ms;
-o-transition: 500ms;
transition: 500ms;
text-decoration: underline;
}

.active:hover {
color: #bb8a89;
/* animation: 1.5s myFlash linear infinite; */
/* text-shadow: 2px 2px 30px var(--yellow); */
-webkit-transition: 500ms;
-o-transition: 500ms;
transition: 500ms;
text-decoration: underline;
}

nav {
-webkit-transition: 3s;
-o-transition: 3s;
transition: 3s;
/* animation: 3s myAnimation ease linear; */
}

/* @keyframes myAnimation {
0% {
  opacity: 0;
}

100% {
  opacity: 1;
}
} */

/* .nav-type {
animation: 3s myWorld ease linear;
} */

/* @keyframes myWorld {
0% {
  opacity: 0;
}

100% {
  opacity: 1;
}
} */

@media(max-width: 767px) {
/* .flash-GIF {
  display: none;
}

.line-w5 {
  display: none;
} */

.text-content-fluid {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 65%;
  left: 50%;
}

.navigation ul {
  padding: 15px 0;
}


.navigation li a {
  padding: 34px 34px;
  font-size: 23px;
  font-weight: lighter;
}
}

.text-content-fluid {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
position: absolute;
-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
top: 53%;
left: 50%;
letter-spacing: 25px;
font-size: 50px;
font-family: verdana;
}

@media(max-width: 767px) {
.text-content-fluid {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 60%;
}
}

.line {
height: 40px;
width: 2px;
background: #fff;
margin: 0;
position: absolute;
left: 88%;
top: 25%;
}

.Active {
-webkit-transition: 2s;
-o-transition: 2s;
transition: 2s;
margin-top: 1px;
}


.container {
height: 50px;
width: 50px;
position: absolute;
top: 0;
right: 0;
background-color: transparent;
text-align: center;
-webkit-transition: background 0.3s;
-o-transition: background 0.3s;
transition: background 0.3s;
}

#menu {
background-color: #f0f2ef;
color: black;
width: 50%;
height: 100vh;
top: 0;
position: fixed;
right: -100vw;
z-index: 900;
-webkit-box-shadow: 0px 0px 100px 115px #bb8a89;
        box-shadow: 0px 0px 100px 115px #bb8a89;
-webkit-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
-webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
@media all and (max-width: 500px) {
#menu {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
}
}

#menu.move {
right: 0;
}

#menu ul {
list-style: none;
margin-top: 77px;
}

#menu a {
  text-decoration: none;
  color: #bb8a89
}

#menu li {
font-size: 22px;
padding: 20px 0;
text-align: center;
-webkit-transition: 400ms;
-o-transition: 400ms;
transition: 400ms;
}

#menu li:hover {
color: #4f6367;
display: block;
-webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
        transform: scale(1.3);
}

#menu li:focus {
color: #4f6367;
display: block;
-webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.page-header__item ul {
-webkit-transform: translate3d(450px, 0, 0);
        transform: translate3d(450px, 0, 0);
-webkit-transition: -webkit-transform 0.45s ease-in;
transition: -webkit-transform 0.45s ease-in;
-o-transition: transform 0.45s ease-in;
transition: transform 0.45s ease-in;
transition: transform 0.45s ease-in, -webkit-transform 0.45s ease-in;
}

.page-header__item.move ul {
-webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
-webkit-transition: -webkit-transform 600ms ease-out;
transition: -webkit-transform 600ms ease-out;
-o-transition: transform 600ms ease-out;
transition: transform 600ms ease-out;
transition: transform 600ms ease-out, -webkit-transform 600ms ease-out;
}
.page-header__item.move ul li a:last-child {
-webkit-transition-delay: 0.8s;
     -o-transition-delay: 0.8s;
        transition-delay: 0.8s;
}

.sm-navigation {
margin-right: 5.5rem;
margin-top: 0.6rem;
font-size: 1.25rem;
}

.page-header {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
padding: 1.25rem;
height: 6.25rem;
clear: both;
width: 100%;
max-width: 1120px;
text-align: center;
margin: 0 auto;
}

.page-header__item {
-webkit-box-flex: 0;
    -ms-flex: 0 1 12.5rem;
        flex: 0 1 12.5rem;
}

/* choose the last child of the parent to be right aligned. */
.page-header__item:last-child {
-webkit-box-flex: 1;
    -ms-flex-positive: 1;
        flex-grow: 1;
text-align: right;
}

.page-header {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
padding: 1.25rem;
height: 6.25rem;
clear: both;
width: 100%;
max-width: 1120px;
text-align: center;
margin: 0 auto;
}

.page-header__item {
-webkit-box-flex: 0;
    -ms-flex: 0 1 12.5rem;
        flex: 0 1 12.5rem;
}

/* choose the last child of the parent to be right aligned. */
.page-header__item:last-child {
-webkit-box-flex: 1;
    -ms-flex-positive: 1;
        flex-grow: 1;
text-align: right;
}

#hamburger {
height: 40px;
width: 40px;
margin: 50px;
float: right;
cursor: pointer;
display: none;
-ms-grid-rows: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
}

@media all and (max-width: 860px) {
#hamburger {
  display: -ms-grid;
  display: grid;
}
}
#hamburger:hover .row1 {
background-color: #bb8a89;
}
#hamburger:hover .row2 {
background-color: #bb8a89;
}
#hamburger:hover .row3 {
background-color: #bb8a89;
}
#hamburger:focus .row1 {
background-color: #bb8a89;
}
#hamburger:focus .row2 {
background-color: #bb8a89;
}
#hamburger:focus .row3 {
background-color: #bb8a89;
}

#hamburger:hover .row2.transparent,
#hamburger:focus .row2.transparent {
background-color: transparent;
}
#hamburger:hover .row1.rotateRight {
background-color: #4f6367;
}
#hamburger:hover .row3.rotateLeft {
background-color: #4f6367;
}
#hamburger:focus .row1.rotateRight {
background-color: #4f6367;
}
#hamburger:focus .row3.rotateLeft {
background-color: #4f6367;
}

.row1 {
background-color: #f0f2ef;
z-index: 1000;
border: 0.5px solid #0d0221;
margin-bottom: 10px;
border-radius: 3px;
-webkit-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
}

.row2 {
background-color: #f0f2ef;
z-index: 1000;
border: 0.5px solid #0d0221;
margin-bottom: 10px;
border-radius: 3px;
-webkit-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
}

.row3 {
background-color: #f0f2ef;
z-index: 1000;
border: 0.5px solid #0d0221;
margin-bottom: 10px;
border-radius: 3px;
-webkit-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
}

.row1.rotateRight {
background-color: #bb8a89;
-webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
-webkit-transform-origin: 0px;
    -ms-transform-origin: 0px;
        transform-origin: 0px;
left: 15px;
position: relative;
}

.row3.rotateLeft {
background-color: #0d0221;
-webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
-webkit-transform-origin: 0px;
    -ms-transform-origin: 0px;
        transform-origin: 0px;
left: 15px;
bottom: -3px;
position: relative;
}

.row2.transparent {
background-color: transparent;
border: none;
}

/* all pages */

.lg-logo {
  width: 40px;
  border-radius: 50%;
}

.logo {
  width: 70px;
  border-radius: 50%;
  position: fixed;
  top: 23px;
  left: 23px;
  display: none;
}

@media all and (max-width: 860px) {
  .logo {
      display: block;
  }
}

.show {
display: block !important;
opacity: 1;
pointer-events: auto;
}

.center {
  text-align: center;
  margin: auto;
}

.banner {
height: 200px;
overflow: hidden;
margin-top: -10px;
top: 0
}

@media all and (max-width: 860px) {
.banner {
  height: 100px;
}
}

.about-page,
.dough-page,
.jam-page,
.coaching-page,
.donuts-page,
.home-page {
  /* margin: 110px 40px; */
  /* width: 90vw; */
}

.title {
  text-align: center;
  margin: 12px auto;
  font-size: 52px;
  font-weight: bold;
  padding: 20px;
}

.subtitle {
text-align: center;
font-weight: 400;
font-size: 20px;
padding: 10px;
}

.button {
width: auto;
text-decoration: none;
background-color: #4f6367;
padding: 20px;
border-radius: 10px;
font-size: 20px;
text-align: center;
margin: 10px auto;
color: #f0f2ef;
-webkit-transition: 500ms ease-in-out;
-o-transition: 500ms ease-in-out;
transition: 500ms ease-in-out
}

.button:hover {
opacity: 0.8;
background-color: #bb8a89;
}

/* home page */

.background {
  background-image: url("../img/bakery.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin-top: 0;
  padding-top: 30px;
}

.title-container {
padding: 30px;
border-radius: 10px;
background-color: #f0f2ef;
width: 50%;
min-width: 320px;
height: auto;
min-height: 350px;
margin: 100px 30px;
}

.title-container h1 {
font-size: 38px;
}

.title-container p {
margin: 10px auto;
font-size: 18px;
}

.title-container a {
float: right;
}

.triangle-down {
-webkit-box-sizing: content-box;
        box-sizing: content-box;
width: 50%;
height: 100px;
padding-left: 50%;
padding-top: 5%;
overflow: hidden;
}

.triangle-down div {
width: 0;
height: 0;
margin-left: -1000px;
margin-top: -50px;
border-left: 1000px solid transparent;
border-right: 1000px solid transparent;
border-top: 150px solid #f0f2ef;
}

.service-container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
margin: 50px auto 250px;
}

.service {
background: #f0f2ef;
margin: 20px;
padding: 32px;
width: 250px;
height: auto;
border-radius: 10px;
-webkit-box-shadow: 2px 10px 23px -10px;
        box-shadow: 2px 10px 23px -10px;
-webkit-transition: 400ms ease-in-out;
-o-transition: 400ms ease-in-out;
transition: 400ms ease-in-out;
}

.service:hover {
-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
        transform: scale(1.2);
}

.service h3 {
text-align: center;
margin-bottom: 19px;
}

.service ul {
list-style-type: disc;
}

.service li {
margin: 10px auto;
}

@media all and (max-width: 750px) {
.service-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service {
  width: 60%;
  margin: 30px auto;
  min-height: 300px;
}

.service li {
  margin: 15px auto;
}
}

@media all and (max-width: 500px) {
.service {
  width: 80%;
}
}

/* Know your dough page */
.myGallery {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: minmax(100px, 400px) 10px minmax(100px, 400px) 10px minmax(100px, 400px);
  grid-template-columns: repeat(3, minmax(100px, 400px));
  text-align: center;
  background-color: #f0f2ef;
  margin: 70px auto 250px;
  width: 80%;
  padding: 50px;
  border-radius: 10px;
  -webkit-box-shadow: 17px 20px 50px 9px #C6C0B6;
          box-shadow: 17px 20px 50px 9px #C6C0B6;
}

@media all and (max-width: 800px) {
.myGallery {
  -ms-grid-columns: minmax(100px, 400px) 20px minmax(100px, 400px);
  grid-template-columns: repeat(2, minmax(100px, 400px));
  grid-gap: 20px;
  width: 90%;
}
}

@media all and (max-width: 600px) {
.myGallery {
  width: 100%
}
}

@media all and (max-width: 400px) {
.myGallery {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}
}

.myGallery img {
  width: 100%;
}

.myGallery .item {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.myGallery .item img {
  vertical-align: middle;
}

.myGallery .caption {
  margin: 0;
  padding: 1em;
  position: absolute;
  z-index: 1;
  bottom: 0;
  top: 30%;
  left: 0;
  text-align: center;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  background: rgba(0, 0, 0, .7);
  color: rgb(255, 255, 255);
}

@media all and (min-width: 1400px) {
  .caption {
      font-size: 22px;
  }
}

@media all and (min-width: 900px) {
  .caption {
      font-size: 18px;
  }
}

.myGallery .item:hover .caption {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  cursor: pointer;
}

.w3-modal {
padding-top: 80px;
}

.w3-modal-content {
  padding: 20px;
  border-radius: 3px;
  min-height: 300px;
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modal-body p {
  margin: 10px;
}

.w3-button {
  width: 5%;
  font-size: 30px;
  margin: 4px;
  border-radius: 50px;
}

.divider {
  width: 90%;
  border: 0.8px solid lightgrey;
  border-radius: 50%;
  margin: 30px auto;
}

.related-topic-button {
border: none;
display: inline;
width: 51px;
margin: 10px;
cursor: pointer;
}

.related-topic {
  width: 50px;
}

/* About Page */

.about-body {
  /* display: flex;
  flex-direction: row; */
  
}
/* @media all and (max-width: 850px) {
  .about-body {
      flex-direction: column;
      margin-top: 90px;
  }
  .about-img {
      text-align: center;
  }
} */


.child {
position: absolute;
top: 0;
}

.child1 {
right: -46px;
top: -200px;
border: 1px solid #ddd;
padding: 5px;
/* margin-left: 110px; */
/* position: relative; */
height: 280px;
width: 280px;
z-index: 2;
}

.child2 {
right: 52px;
top: -100px;
width: 320px;
height: 100px;
background-color: #4f6367;
opacity: 0.5;
z-index: 0;
/* margin-top: -200px; */
}

.parent {
position: relative;
width: 630px;
text-align: center;
margin: 0 auto;
}

.about-para {
max-width: 624px; 
width: 100%;
margin: 263px auto 50px;
padding: 112px;
position: relative;
-webkit-box-shadow: rgba(0,0,0,0.16) 0px 8px 16px;
        box-shadow: rgba(0,0,0,0.16) 0px 8px 16px;
border-radius: 10px;
font-size: 21px;
}

/* .about-img {
border-radius: 10px;
box-shadow: 17px 20px 42px 1px #c6c0b6;
height: 250px;
width: 200px;
margin: auto;
} */

.contact-me {
text-align: center;
padding-top: 30px;
background-color: #f0f2ef;
background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#f0f2ef));
background-image: -o-linear-gradient(white, #f0f2ef);
background-image: linear-gradient(white, #f0f2ef);
}

.contact-me {
font-weight: bold;
font-size: 18px;
}


/* img {

border-radius: 4px;

width: 150px;
} */

/* .about-para {
  width: 70%;
  background-color: var(--rose);
  border-radius: 10px;
  box-shadow: 17px 20px 42px 1px #c6c0b6;
  padding: 50px 80px;
  margin: 50px auto
} */

.send {
  color: #f0f2ef;
  border: 1px solid #4f6367;
  background-color: #4f6367;
  width: 300px;
  margin: 50px auto 100px;
  font-weight: bold;
  height: 60px;
  border-radius: 31px;
  cursor: pointer;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.send:hover {
  background-color: #bb8a89;
}

.input {
  margin: 10px;
  border-radius: 30px;
  padding: 10px 12px;
  border: 1px solid #4f6367;
  -webkit-box-shadow: 9px 8px 9px -4px #4f6367;
          box-shadow: 9px 8px 9px -4px #4f6367;
}

/* That's my jam */

/* .grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--white);
  margin: 70px auto;
  width: 80%;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 17px 20px 50px 9px #C6C0B6;
} */

.service img {
  width: 100%;
  border-radius: 5%;
}
@media all and (max-width: 750px) {
.service img {
  width: 50%;
  margin-right: 35px;
  position: relative;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.service-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
}

@media all and (max-width: 600px) {
.service {
  width: 80%;
  margin-top: 10px;
}
}

/* .grid .item {
  position: relative;
}

.grid .item img {
  vertical-align: middle;
} */

/* money coaching */

.philosophy {
  width: 70%;
  padding: 50px 30px;
  margin: 30px auto 70px auto;
  text-align: center;
  /* background-color: var(--fuchsia); */
  opacity: 0.8;
  color: #4f6367;
  border-radius: 3%;
  /* box-shadow: 17px 20px 42px 1px #c6c0b6; */
}

.philosophy p {
  margin: 5px;
  font-size: 22px;
  line-height: 1.2;
}

@media all and (max-width: 420px) {
  .philosophy {
    width: 100%;
  }
}

.topics {
  background-color: undefined;
  width: 80%;
  height: auto;
  padding: 50px;
  margin: 135px auto;
  border-radius: 3%;
  -webkit-box-shadow: 17px 20px 42px 1px #c6c0b6;
          box-shadow: 17px 20px 42px 1px #c6c0b6;
}

@media all and (max-width: 600px) {
.topics {
  width: 100%;
}
}

.topics ul li img {
border-radius: 10px;
width: 90px;
}

.topics h2 {
  text-align: center;
  margin-bottom: 20px;
}

.coaching-grid {
display: -ms-grid;
display: grid;
grid-gap: 10px;
-ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
grid-template-columns: 1fr 1fr 1fr 1fr;
text-align: center;
width: 100%;
list-style-type: none;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
margin: 10% 0;
width: 100%;
text-align: center;
}

.coaching-grid .item {
  position: relative;
  border-radius: 10px;
  line-height: 1.5;
}

@media all and (max-width: 500px) {
.coaching-grid {
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr;
}

.coaching-grid .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
}

.coaching-img {
  max-width: 80%;
  margin: 90px auto;
  padding: 40px;
  text-align: center;
  display: block;
  border-radius: 3%;
  -webkit-box-shadow: 17px 20px 42px 1px #c6c0b6;
          box-shadow: 17px 20px 42px 1px #c6c0b6;
}

@media all and (max-width: 450px) {
.coaching-img {
  width: 100%;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
}

.section-header{
  text-align: center;
  margin: 142px auto 0px auto;
  font-size: 40px;
  width: 100%;
}

/* donuts + pie */
.chart-grid {
  display: -ms-grid;
  display: grid;
  position: relative;
  grid-gap: 10px;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #bb8a89;
  margin: 70px auto 250px;
  width: 73%;
  padding: 56px;
  border-radius: 10px;
  -webkit-box-shadow: 17px 20px 50px 9px #C6C0B6;
          box-shadow: 17px 20px 50px 9px #C6C0B6;
}

@media all and (max-width: 850px) {
.chart-grid {
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  width: 100%
}
}

@media all and (max-width: 650px) {
.chart-grid {
   -ms-grid-columns: 1fr;
   grid-template-columns: 1fr;
}
}

.chart-grid .item {
  width: 100%;
  position: relative;
}
@media all and (max-width: 700px) {
.chart-grid.item {
  width: 50%;
}
}

/* chart text overlay */
.overlay-text {
line-height: 30px;
position: absolute;
z-index: 5;
font-family: 'Arial Black';
font-size: 25px;
font-weight: bold;
top: 60px;
left: 10px;
pointer-events: none;
text-align: center;
}

/* change color of annotation text */
/* g .google-visualization-tooltip text  {
fill: red;
} */

/* change background color of annotation */
/* g .google-visualization-tooltip path  {
fill: red;
} */